<a href="https://colab.research.google.com/github/deepeshbarod80/python-notebooks/blob/main/DSML_Week1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Output Function

In [ ]:
# end="/n" is a by default ending object in print function
# Output use by default new line for new print due to "\n"
print("welcome", end="\n")
print("to", end="\n")
print("DSML", end="\n")
print("---------------------------------space---\n")

# Output use by default same line for new print due to " " means single space
print("welcome", end=" ")
print("to", end=" ")
print("DSML", end=" ")
print("-------------------------space-------\n")

# sep="/n" is a by default spacing object in print function between words
# Output use by default new line for new print due to " " means single space

x = 10
y = 20
print(x, y, sep=" ") # It's by default space between words
print(x, y, sep=", ")
print("DSML", "AI", sep="|")
print("-------------------------------space----------\n")


name = "Rahul"
age = 62
print("My name is Rahul", name, "and My age is", age)

welcome
to
DSML
---------------------------------space---

welcome to DSML -------------------------space-------

10 20
10, 20
DSML|AI
-------------------------------space----------

My name is Rahul Rahul and My age is 62

In [ ]:
a = 10
print(a)

10

In [ ]:
b = 20
print(b)

20

In [ ]:
print(a + b)

30

In [ ]:
print(a - b)

-10

In [ ]:
type(a)

int

In [ ]:
c = 20.56

In [ ]:
type(c)

float

In [ ]:
d = 'hello world'
type(d)

str

In [ ]:
# Lists are Mutable and denote by [...]
# Lists are ordered
e = [10, 25, 65.24]
print(e)
type(e)

[10, 25, 65.24]

list

In [ ]:
# Tuples are Immutable and denote by (...)
# Tuples are ordered
f = (60, 75.42)
print(f)
type(f)

(60, 75.42)

tuple

In [ ]:
# pip install keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
from math import sqrt
result = sqrt(81)
print(result)

9.0

In [ ]:
# This is the testing of comments

In [ ]:
"""i am writing it for my practice only. i am here"""

'i am writing it for my practice only. i am here'

In [ ]:
x = 5
# if x is greater then 2. In this case I have print "positive number"
if x > 2:
  print("positive number")
if x > 4:
  print("positive number and it is more than 4")

positive number
positive number and it is more than 4

In [ ]:
"""Note: 1. We can assign new value to Tuple in down the hill or
rewrite the value but can not edit, delete or change the value of the
variable in which we alread assigned the value before."""

'Note: 1. We can assign new value to Tuple in down the hill or \nrewrite the value but can not edit, delete or change the value of the \nvariable in which we alread assigned the value before.'

In [ ]:
# Dictionaries are unordered and Mutable for Values but not key values.
# There is concepts of Key values.

my_dict = {"name": "Tom", "subject": "English", "mark": 90}
print(my_dict)
type(my_dict)

{'name': 'Tom', 'subject': 'English', 'mark': 90}

dict

In [ ]:
# Sets
# Sets are unordered and Mutable for both the key values and values.
# There is no concepts of Key values
fruits = {"banana", "Cherries", "apples"}
print(fruits)
type(fruits)

{'Cherries', 'apples', 'banana'}

set

In [ ]:
# Sets
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5, 6, 7, 8}
print(s1)
print(s2)
type(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

set

In [ ]:
# To install the Package
# 1. Intall ......(Package Name)
# 2. Omly after intallation you can import the package

In [ ]:
pip install Numpy

Requirement already satisfied: Numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)

In [ ]:
# prompt: numpy installation successfully

import numpy as np
print(np.__version__)

In [ ]:
import numpy as np

In [ ]:
print(np.__version__)

1.23.5

In [ ]:
# Operators
# Arithmatic Operators

a = 10
b = 3
print(a + b)  # Addition operator.
print(a - b)  # Substraction operator.
print(a * b)  # Multiplication operator.
print(a / b)  # Division operator.
print(a // b) # Floor Division operator. Note: "We consider only lowest value so values are ignored after dot.
print(a % b)  # Modulus Operator. Note: 10/3 = 3 times devided and 1 is remaining.
print(a ** b) # Exponenetial Operator. Note: multiply 10 by 3 times means 1000 is result.

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Comparison Operators

a = 10
b = 20
print(a == b) # Equal Operator. False
print(a != b) # Not-equal Operator. True
print(a > b)  # Greater than Operator. False
print(a < b)  # Less than Operator. True
print(a <= b) # Less than or Equal Operator. True
print(a >= b) # Greater than or Equal Operator. False

False
True
False
True
True
False

In [ ]:
# Logical Operators
# Logical 'and' Operator
a = 5
b = 2
c = 3
d = 200

print(a>b and a>c)  # True and True = True
print(a>b and a<c)  # True and False = False
print(a<b and a>c)  # False and True = False
print(a<b and a<c)  # False and False = False
print(a>b and c)    # True and 3 = 3
print(a>b and c and d) # True and 3 and 200 = 200
print(a<b and c)    # False and 3 = False
print(a<b and c and d) # False and 3 and 200 = False

True
False
False
False
3
200
False
False

In [ ]:
# Logical 'Or' Operator
a = 5
b = 2
c = 3
d = 200

print(a>b or a>c)  # True or True = True
print(a>b or a<c)  # True or False = True
print(a<b or a>c)  # False or True = True
print(a<b or a<c)  # False or False = False
print(a>b or c)    # True and 3 = True
print(a>b or c or d) # True and 3 and 200 = True
print(a<b or c)    # False and 3 = 3
print(a<b or c or d) # False and 3 and 200 = 3

True
True
True
False
True
True
3
3

In [ ]:
# Logical 'not' Operators

print(not(a<b)) # False but result = True
print(not(a>b)) # True but result = True

True
False

In [ ]:
# Bitwise Operators

# Binary numbers: 0,1    10 = 1010

a = 10 # 1 0 1 0 (Binary conversion of 10)
b =  4 # 0 1 0 0 (Binary conversion of 4)

# bin(10) # If run this you will get result in binary number that is '1010'
# print(0b1110) # Run print(0b.....(binary digits)) to a Numeric Digit.
# bin(4) # If run this you will get result in binary number that is '0100'
# print(0b0010) # Run print(0b.....(binary digits)) to a Numeric Digit



# 1. 'And' Operator: '&'
# '&' compares each bit of 1st operand with the 2nd.
# If both bit are 1, the corresponding bit is set to 1 otherwise 0

# 10 = 1 0 1 0
# 4  = 0 1 0 0
# ------------
#      0 0 0 0 = 0

result = a & b
print(result)
# -------------------------------------------------------------------

# 2. 'Or' Operator: '|'
# '|' compares each bit of the 1st operand with the 2nd.
# If either bit is 1, the corresponding result bit is set 1, otherwise the result bit is set to 0.
result = a | b
print(result)
# 10 = 1 0 1 0
#  4 = 0 1 0 0
# ------------
#      1 1 1 0 = 14
# -------------------------------------------------------------------

# 3. Not Operator
# '~' compares True and False values and give opposite resuls


# 4. 'XOR' Operator: '|'
# '^' compares each bit of the 1st operand with the 2nd.
# If one bit is 1 (but not both), the corresponding result bit is set 1, otherwise the result bit is set to 0.
result = a ^ b
print(result)
# 10 = 1 0 1 0
#  4 = 0 1 0 0
# ------------
#      1 1 1 0 = 14
# -------------------------------------------------------------------

# 5. Left Shift operator
a = 10 # bn(10) = 1010
result = a << 2 # a<<2 means 00 will increase in the end.
# means '1010' will turn into '101000' that value is 40 in numeric.
print(result)

# 6. Right Shift operator
a = 10 # bn(10) = 1010
result = a >> 2 # a<<2 means 00 will increase in the starting.
# means '1010' will turn into '001010' that value is 40 in numeric.
print(result)

0
14
14
40
2

In [ ]:
a = 10
b = 10
print(a is not b)

a = 10
b = '10'
print(a is not b)

False
True

In [ ]:
a = 10
b = 10
print(a is b)

a = 10
b = '10'
print(a is b)

True
False

In [ ]:
# take input from the user
name = input("roll number:")
print(f'welcome to: {name}')

roll number:32456
welcome to: 32456

In [ ]:
# Assignment Operators

a = 5
a += 3 # a += 3 is equal to a + 3 means the final values is 8
print(a)

b = 5
b -= 3 # b -= 3 is equal to a 3 means the final values is 3
print(b)

c = 5
c *= 3 # c -= 3 is equal to a 3 means the final values is 15
print(c)

d = 5
d /= 3 # d -= 3 is equal to a 3 means the final values is 15
print(d)

8
2
15
1.6666666666666667

In [ ]:
# Statements

# "If Statement"
age = 36
if age >= 18:
  print("Tom, You can drive")
else:
  print("Sorry due to age limitation you can not drive")
# ---------------------------------------------------------

score = 85
if score >= 90:
  print("Excellent performance, Your gracde is A+")
elif score >= 80:
  print("Good performance, Your grade is A")
elif score >= 70:
  print("Average performance, Your grade is B")
else:
  print("performance is not good, your grade is C")

Tom, You can drive
Good performance, Your grade is A

In [ ]:
# Find largest number from 3 given numbers using "if statement"
num1 = 10
num2 = 20
num3 = 30

if (num1 >= num2) and (num1 >= num3):
  largest = num1
  print("Largest number is:", largest)
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
  print("Largest number is:", largest)
else:
  largest = num3
  print("Largest number is:", largest)

Largest number is: 30

In [ ]:
# Find largest number from 3 given numbers using "if statement"
num1 = float(input("please enter 1st number"))
num2 = float(input("please enter 2nd number"))
num3 = float(input("please enter 3rd number"))

if (num1 >= num2) and (num1 >= num3):
  largest = num1
  print("Largest number is:", largest)
elif (num2 >= num1) and (num2 >= num3):
  largest = num2
  print("Largest number is:", largest)
else:
  largest = num3
  print("Largest number is:", largest)

please enter 1st number10
please enter 2nd number20
please enter 3rd number30
Largest number is: 30.0

In [ ]:
# Let us make a simple calculator which takes the chioce of operation from user.
# Also user enter two numbers which needed to be computed.

choice = input("Enter you choice (add/sub/div/mul):")

num1 = float(input("please enter 1st number"))
num2 = float(input("please enter 2nd number"))

if choice == "add":
  print(num1, "+", num2, "=", num1 + num2)
elif choice == "sub":
  print(num1, "-", num2, "=", num1 - num2)
elif choice == "div":
  print(num1, "/", num2, "=", num1 / num2)
elif choice == "mul":
  print(num1, "*", num2, "=", num1 * num2)
else:
  print("wrong choice")

Enter you choice (add/sub/div/mul):div
please enter 1st number10
please enter 2nd number20
10.0 / 20.0 = 0.5

In [ ]:
# We have 3 positions: Executive, Manager, Senior Manager
# take input from the user "designation" and print salary range of that designation
# Executive: 30000-40000
# Manager: 60000-90000
# Senior manager: 120000-160000

# input: Ask the designation from user: "Executive"
# Output: The salary range of the executive is: 30000-40000

designation = input(" Enter your designation (Executive/Manager/Senior Manager):")

designation = designation.lower() # Convert to lowersmall letters
if designation == "executive":
  print("the salary range for Executive between 30000-40000")
elif designation == "manager":
  print("the salary range for Manager between 60000-90000")
elif designation == "senior manager":
  print("the salary range for Senior Manager between 120000-160000")
else:
  print("please enter correct choice (Executive/Manager/Senior Manager).")

 Enter your designation (Executive/Manager/Senior Manager):Executive
the salary range for Executive between 30000-40000

In [ ]:
# i = 10
# for (...):
  # i = i + 1

In [ ]:
# Range(): Generating sequence of number 1, 2, 3, 4, 5
for i in range(5):  # i = 0, i = 1 ......i
    print(i)

0
1
2
3
4

In [ ]:
# Type 1
for i in range(2, 5): # Range is starting from 2 and ending on 4
# using (start, stop, step) parameters
  print(i)

# Type 2
for j in range(8, 14):
  print(j) # result starts from 8

2
3
4
8
9
10
11
12
13

In [ ]:
# Type 3
for k in range(0, 20, 2):
  # Here start from 0, ending on 20, difference of steps between is 2
  print(k)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# Let have for loop on list
flist = ["banana", "mango", "grapes"]

for flist in flist:
  print(flist)

banana
mango
grapes

In [ ]:
country = ["India", "UK", "Germany", "USA"]

for index in range(len(country)):
  print(country[index])

# country[0]
# country[1]
# country[2]
# country[3]

print(len(country)) # len means length of the number of items in list

# Loops are used mostly in Banks, Insurance, Credit limits

India
UK
Germany
USA
4

In [ ]:
 # Nested Loops

 # if We want result like the following
 # *       i = 0, then j in range(1)
 # * *     i = 1, then j in range(2)
 # * * *   i = 2, then j in range(3)
 # * * * * i = 3, then j in range(4)

rows = 4

for i in range(rows):
  for j in range(i+1):
    print("*", end = " ")
  print() # \n new line charactor

*
* *
* * *
* * * *

In [ ]:
# print("*",end=" ")
# print asterisks sign
# end=" " to have the space between *   \n

In [ ]:
# While

count = 1
while count <= 5: # while will run untill value of count of 5, if value is 6 it will not run.
  print(count)    # printing value of count
  count += 1      # count = count + 1

# 1st Interaction
# Step 1: print value of count 1
# Step 2: count will be incremented by 1 count = count + 1
# ---------------------------------------------------------------

# Now Updated count = 3
# while count <= 5: still condition is true or holds

# 2nd Interaction
# Step 1: print value of count 1
# Step 2: count will be incremented by 1 count = count + 1
#----------------------------------------------------------------

# Now Updated count = 6
# while count <= 5: Now condition is false now

1
2
3
4
5

In [ ]:
# While loop

text = ""

while text != "quit":
  text = input("Enter a word (or quit to exit):")
  print("You entered:", text) # text is asked text from user

Enter a word (or quit to exit):I am here
You entered: I am here
Enter a word (or quit to exit):the best one now
You entered: the best one now
Enter a word (or quit to exit):quit
You entered: quit

In [ ]:
# 'for' we use generally we know when to stop
# 'While' we use generally when stop conditions will be satisfied, we don't know
# We have a list names = [Alice, Tom, Marry, James]
# Salary = [30000, 40000, 45000, 40000]
# give 5% bonus to James as he is performing well.

names = ["Alice", "Tom", "Marry", "James"]
salary = [30000, 40000, 45000, 40000]

print("old salary is :")

# First sub-problem is we will iterate both lists
# We need to update salary of Jaames only

for i in range(len(names)):
  if names[i] == "James":
    increment = salary[i]*0.05
    salary[i] += increment

print("updated salary is:")
print(salary)

old salary is :
updated salary is:
[30000, 40000, 45000, 42000.0]

In [ ]:
# here we are incresing 20% salary of Alice
for i in range(len(names)):
  if names[i] == "Alice":
    increment = salary[i]*0.20
    salary[i] += increment
print("updated salary is:")
print(salary)

updated salary is:
[51840.0, 40000, 45000, 42000.0]